*{
padding:  0;
    margin:  0;
    box-sizing: border-box;
   
}

body{
     background-color: black;
     border: 10px solid blue;
    color: whitesmoke;
    margin: 0 auto;
}

.menu-bar {
  
    height: 30vh;
    text-align: center;
    padding: 50px;
    
    
}

.menu-bar ul{
    float: none;
    display: inline-flex;
    list-style: none;
    color: white;
    background: blue ;
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}

.menu-bar ul li a{
    
    text-decoration:none;
    color: white;
}

.active,.menu-bar ul li:hover{
 background-color:#84BBEE ;
    border-radius: 8px;
}

.menu-bar .fa{
    margin-right: 10px;
}

p{
    letter-spacing: 1px;
    line-height: 2; 
    margin: 5;
    font-size: 18px;
    
}

img{
    margin: 0 auto;
    display: inline-block;
    margin: 20px;
}

h6{
   font-size: 40px;
    text-align: center;
    color: blue;
    font-style: normal;
    margin: 20 auto;
    letter-spacing: 1px;
    line-height: 1; 
    
}

h4{
   font-size: 30px;
    color: whitesmoke;
    font-style: normal;
    margin: 20 auto;
    letter-spacing: 1px;
    line-height: 1; 
    
}

div{
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1;
}

.image{
    display: inline-block;
     margin:30 auto;
     margin-left: 150px;

}

.image-2{
    display: inline-block;
     margin:30 auto;
     margin-left: 150px;
    align-content: center;
}

.foot {
    text-align: center;
    letter-spacing: 1;
    line-height: 5;
}

.head-image{
    margin-top: -10px;
    height: 100vh;
    background-size:cover;
    background-position: center;
    margin: 0 auto;
    display: inline-block;
   margin-left: 150px;
    
}

.project{
    display: inline-block;
     margin:30 auto;
     margin-left: 150px;
    align-content: center;
    margin-bottom: 20px;
}

























